.footer{
    margin: 50px 170px;
}
.footer hr{
   border: 1px solid rgb(98, 98, 98);
   border-radius: 50px;
   margin-bottom: 20px;
}
.footer-content{
   text-align: center;
}
@media(max-width:768px){
   .footer{
      margin: 50px 70px;
   }
   .footer-content{
      margin-bottom: 50px;
   }
}


